@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
.main-contain {
    position: relative;
    top: 70px;
    width: 100%;
}
label.error{
    display:block;
    color: red;
}
.icon-see-password-wrapper {
    display: flex;
    align-items: center;
    background-color: #e9ecef;
    border: 1 px solid #ced4da;
    justify-content: center;
    align-items: center;
    height: 38px;
    width: 100%;
}
