
h1 {
    font-size: 36px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: 2px;
}

.container-fluid {
    padding: 0;
    max-height: 700px;
}

.banner {
    max-height: 700px;
    background-image: url(../images/table_booking_banner.jpg);
    background-color: #1d1c1c;
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: 0.7;
}

.banner form {
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
}

.banner-content h1 {
    margin-bottom: 30px;
}

.banner-content input {
    padding: 5px;
    padding-left: 5px;
    width: 170px;
    text-align: center;
    border: 1px solid grey;
    border-radius: 5px;
}

.banner-content select {
    width: 120px;
    padding: 5px;
    margin-left: 21px;
    border: 1px solid grey;
    border-radius: 5px;
}

.banner-content textarea {
    width: 500px;
    margin-top: 20px;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 8px;
}

.banner-content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

.table-booking-btn {
    margin-top: 20px;
    width: 100%;
    height: 40px;
    background-color: orange;
    border-radius: 5px;
}

.disable {
    background-color: rgb(170, 170, 170);
}

.modal-header .close {
    margin-top: -1.5rem;
}

.modal-body {
    padding-left: 50px;
    padding-right: 50px;
}

.modal-body .form-group {
    position: relative;
    display: block;
    text-align: left;
}

.modal-body .form-group label {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.modal-body .form-group i {
    color: var(--error-broder);
    position: absolute;
    top: 48px;
    right: 11px;
    display: none;
}

.modal-body .form-group input {
    margin-bottom: 10px;
}

.modal-body .form-group small {
    color: var(--error-broder);
    margin-left: 10px;
    display: none;
}

.modal-body .form-group.error i.fa-exclamation-circle {
    display: block;
}

.modal-body .error input {
    border-color: var(--error-broder);
}

.modal-body .error small {
    display: block;
}

.modal-body .success input {
    border-color: var(--success-border);
}

.modal-body .form-group.success i.fa-check-circle {
    display: block;
    color: var(--success-border);
}

.modal-body .success small {
    color: var(--success-border);
}

.modal-footer a {
    cursor: pointer;
}

.btn-login {
    width: 100%;
}
  
.form-title {
    margin: -2rem 0rem 2rem;
}

.form-group {
    margin-bottom: 20px;
}
  
.btn-round {
    border-radius: 3rem;
}
