{% extends "index.html" %}
{% block title %}Cart{% endblock %}
{% block content %}
<div class="container">
    <div class="row cart-detail">
        <div class="col-sm-8 cart-detail-product">
            <div id="cart-detail-header" class="cart-detail-header">
                <div class="row">
                    <div class="col-sm-6 title">
                        <h3>Cart</h3>
                    </div>
                    <div class="col-sm-6 items">
                        <!-- <strong> <span>3</span> items</strong> -->
                    </div>
                </div>
            </div>
            <div class="cart-detail-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h4>Food Detail</h4>
                    </div>
                    <div class="col-sm-2 text-center">
                        <h4>Price</h4>
                    </div>
                    <div class="col-sm-2 text-center">
                        <h4>Quantity</h4>
                    </div>
                    <div class="col-sm-2 text-center">
                        <h4>Total</h4>
                    </div>
                </div>
            </div>
            {% for food in foods %}
            <div class="cart-detail-content">
                
                <div class="cart-detail-img">
                    <img src="{{ food.dish.thumbnail }}" alt="">
                </div>
                <div class="cart-detail-short">
                    <h5>{{ food.dish.name }}</h5>
                </div>
                <div class="cart-detail-price">
                    <span> {{ food.dish.price }} &#8363;</span>
                    </span>
                </div>
                <div class="cart-detail-quantity">
                    <!-- <button class="cart-detail-minus" type="submit">-</button> -->
                    <input type="number" class="cart-detail-number" min="1" step="1" value="{{ food.quantity }}">
                    <!-- <button class="cart-detail-plus" type="submit">+</button> -->
                </div>
                <div class="cart-detail-total">
                    <span> {{ food.calPrice() }} &#8363;</span>
                    <i class="fas fa-trash-alt" onclick="removeItem('{{food.order_id}}', '{{food.dish_id}}')"></i>
                </div>
                
            </div>
            {% endfor %}

            <!-- <div class="cart-detail-content">
                
                <div class="cart-detail-img">
                    <img src="https://mcdonalds.vn/uploads/2018/food/burgers/mcchicken-deluxe.png" alt="">
                </div>
                <div class="cart-detail-short">
                    <h5>Burger Đặc biệt</h5>
                </div>
                <div class="cart-detail-price">
                    <span>80.000 &#8363;</span>
                    </span>
                </div>
                <div class="cart-detail-quantity">
                    <button class="cart-detail-minus" type="submit">-</button>
                    <input type="number" min="1" step="1" value="1">
                    <button class="cart-detail-plus" type="submit">+</button>
                </div>
                <div class="cart-detail-total">
                    <span>80000 &#8363;</span>
                    <i class="fas fa-trash-alt"></i>
                </div>
                
            </div> -->
            <!-- Back To Shop Button Start -->
            <div class="cart-detail-button">
                <a href=" {{ url_for('menu.getAllDish') }}">&#8592; Back To Store</a>
            </div>
            <!-- Back To Shop Button End -->


        </div>
        <div class="col-sm-4 cart-detail-summary">
            <div class="cart-summary-header">
                <h3>Order Summary</h3>
            </div>
            <div class="cart-summary-title">
                <div class="row">
                    <div class="col-sm-12">
                        <h4>The total amount of</h4>
                    </div>
                </div>
            </div>
            <div class="cart-summary-content">
                <div class="row">
                    <div class="col-sm-7 cart-summary-tempo">
                        <span>Temporary amount: </span>
                    </div>
                    <div class="col-sm-5 cart-summary-tempo-value">
                        <span id="tempo-price">0 &#8363;</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-7 cart-summary-voucher">
                        <span>Voucher Code: </span>
                    </div>
                    <div class="col-sm-5 cart-summary-voucher-value form-group">
                        <input class="form-control" id="voucher" data-per="0" type="text" value="">
                    </div>
                </div>
            </div>
            <div class="cart-summary-total">
                <div class="row">
                    <div class="col-sm-7 cart-total-title">
                        <span>The total amount of (Including VAT 10%): </span>
                    </div>
                    <div class="col-sm-5 cart-total-value">
                        <span id="total-price">{{total*110//100}} &#8363;</span>
                    </div>
                    <button class="btn cart-total-btn" type="button" data-bs-toggle="modal"
                        data-bs-target="#checkout-modal"><i class="fas fa-money-bill-wave"></i> Checkout</button>
                </div>
            </div>
        </div>
    </div>

    {% include "Checkout.html" %}

    <script>

        function removeItem(oid, did){
            location.href=`{{ url_for('.removeItem') }}?dish_id=${did}`
        }
        $(".cart-detail-quantity").on("click", ".cart-detail-plus", function () {
            plusHandle(this);
        })
        
        $(".cart-detail-quantity").on("click", ".cart-detail-minus", function () {
            minusHandle(this);
        })

        function plusHandle(param) {
            console.log("plus");
            var numberOfProduct = $(param).parent().children(".quantity").val();
            var productId = $(param).parent().children(".quantity").data("id");
            console.log(numberOfProduct);
            numberOfProduct++;
            $(param).parent().children(".quantity").val(numberOfProduct);
        }

        function minusHandle(param) {
            var numberOfProduct = $(param).parent().children(".quantity").val();
            var productId = $(param).parent().children(".quantity").data("id");
            if (numberOfProduct == 1) {
                $(param).css("cursor", "default");
            } else if (numberOfProduct > 1) {
                numberOfProduct--;
                $(param).parent().children(".quantity").val(numberOfProduct);
            }
        }
    </script>
</div>
{% endblock %}
