{% extends "index.html" %}
{% block title %} {{catagory | capitalize}} {{food.name}}{% endblock %}
{% block content %}
<div class="container pt-5 ">

        <div class="product-detail row">

            <div class="col-md-1"></div>
            <div class="col-md-6">
                <div class="box-large">
                    <div class="box-top">
                        <img id="img-large" class="img-detail" src="{{ food.thumbnail }}" alt="Hinh">
                    </div>
                    <!-- <div class="box-bottom">
                        <div>
                            <a href="#" onclick="changeImage(1)"><img src="../static/image/burger-california.png" alt="Hinh"></a>
                        </div>
                        <div>
                            <a href="#" onclick="changeImage(2)"><img src="../static/image/burger-california.png" alt="Hinh"></a>
                        </div>
                        <div>
                            <a href="#" onclick="changeImage(3)"><img src="../static/image/burger-california.png" alt="Hinh"></a>
                        </div>
                        <div>
                            <a href="#" onclick="changeImage(4)"><img src="../static/image/burger-california.png" alt="Hinh"></a>
                        </div>
                    </div> -->
                </div>
            </div>

            <div class="col-md-4 description">
                <h2>{{ food.name }}</h2>

                <h2 class="price">{{ food.price }} &#8363;</h2>


                <div class="quantity buttons_added">
                    <input type="button" value='-' id="minus">
                    <input id="qty" type="number" step="1" min="1" max="" name="quantity" value="1" title="Qty" class="input-text qty text" size="2" pattern="" inputmode="">
                    <input type="button" value='+' id="plus">
                </div>

                <div>
                    <button id="addCartBtn" class="btn btn-primary" type="button" ><i class="fas fa-cart-plus"></i> Add to cart</button>
                </div>
            </div>
        </div>
    </div>

    <script src="../static/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- <script src='../static/js/fun-detail.js'></script> -->
    <script>
        $(function(){
            // let anon_cart_id = window.localStorage.getItem('cart_id')
            "{% if current_user.is_anonymous %}"
            window.localStorage.setItem('cart_id', '{{cart_id}}')
            "{% endif %}"
            $('#addCartBtn').click(addToCart)
            function addToCart(){
                var qty = $('#qty').val()
                location.href = `{{url_for('.createItem', id = food.id) | safe}}&quantity=${qty}`
            }
        });

        
    </script>
</body>
{% endblock %}}