<div class="header">
        <div class="row  m-0 p-0 header-row">
            <div class="col-sm-2 m-0 p-0 logo-wrapper">
                <img src="../static/images/logo black.png " class="logo"/>
            </div>



            <div class="col-sm-2 p-0 m-0">
                <div class="row p-0 m-0 menu-item">                    
                    <button class="btn-no-border menu-item p-0 m-0">
                        <a class="flex" style="text-decoration: none;" href=" {{ url_for('menu.getAllDish', catagory='all') }}">
                            <div>
                                <img src="../static/images/menuwhite.png "  class="png"/>
                            </div>
                            <div style="margin-left: 10px;" class="white-button">MENU</div>
                        </a>
                    </button>
                    
                </div>    
            </div>

          
            <div class="col-sm-2 p-0 m-0">
                <div class="row p-0 m-0 menu-item">                    
                    <button class="btn-no-border menu-item p-0 m-0">
                        <a class="flex" style="text-decoration: none;" href=" {{ url_for('views.table')}}">
                            <div>
                                <img src="../static/images/reservationwhite.png "  class="png"/>
                            </div>
                            <div style="margin-left: 10px;" class="white-button">RESERVATION</div>
                        </a>
                    </button>
                    
                </div>    
            </div>

            <div class="col-sm-2 p-0 m-0">
                <div class="row p-0 m-0 menu-item">                    
                    <button class="btn-no-border menu-item p-0 m-0">
                        <div class="flex">
                            <div>
                                <img src="../static/images/contactwhite.png "  class="icon"/>
                            </div>
                            <div style="margin-left: 10px;" class="white-button">CONTACTS</div>
                        </div>
                    </button>
                    
                </div>    
            </div>
            <div class="col-sm-2 header-user-name"  id="headerUserName">
            </div>

            
            <div class="col-sm-2 p-0">
                <div class="row m-0 p-0" style="height: 100%;">
                    <div class="col-sm-4 p-0 m-0">
                        <div class="row p-0 m-0 menu-item">
                            <div class="dropdown m-0 p-0">
                                <button class="btn-no-border menu-item white-button m-0 p-0" id="user-button"> 
                                    <img src="../static/images/userwhite.png " class="png"/>
                                    <div class="btn dropdown-toggle p-0 white-button" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    </div>
                                </button>
                                <ul class="dropdown-menu m-0 p-0" aria-labelledby="user-button" id="user-profile">
                                    <li><a class="dropdown-item" href="{{ url_for('auth.profile') }}">Profile</a></li>
                                    <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}">Log Out</a></li>
                                </ul>
                                <ul class="dropdown-menu m-0 p-0" aria-labelledby="user-button" id="login-register-link">
                                    <li id="loginLink"><a class="dropdown-item" href="{{ url_for('auth.login') }}">Log In</a></li>
                                    <li id="signupLink"><a class="dropdown-item" href="{{ url_for('auth.signup') }}">Register</a></li>
                                </ul>
                            </div>
     
                        </div>    
                    </div>
                    <div class="col-sm-4 p-0 m-0">
                        <div class="row p-0 menu-item">
                            <button class="cart btn-no-border">
                                <img src="../static/images/cartwhite.png" class="icon"/>
                                <!-- <span class="badge bg-danger rounded-circle">2</span> -->
                            </button>
                        </div>    
                    </div> 
                </div>
               
            </div>
            
            
        </div>
    </div>