<div class="header">
        <div class="row  m-0 p-0 header-row">
            <div class="col-sm-2 m-0 p-0 logo-wrapper">
                <img src="../static/images/logo black.png " class="logo"/>
            </div>

            <div class="col-sm-2 p-0 m-0">
                <div class="row p-0 m-0 menu-item">
                    <div class="dropdown">
                        <button class="btn-no-border menu-item"> 
                            <img src="../static/images/menuwhite.png " class="png"/>
                            <a class="btn p-0 white-button" type="button" id="dropdownMenuButton1" href="{{ url_for('menu.display_menu', catagory='all') }}">
                                MENU
                            </a>
                        </button>
                    </div>

                </div>    
            </div> 

          
            <div class="col-sm-2 p-0 m-0">
                <div class="row p-0 m-0 menu-item">                    
                    <button class="btn-no-border menu-item p-0 m-0">
                        <div class="flex">
                            <div>
                                <img src="../static/images/reservationwhite.png "  class="png"/>
                            </div>
                            <div style="margin-left: 10px;" class="white-button">RESERVATION</div>
                        </div>
                    </button>
                    
                </div>    
            </div>

            <div class="col-sm-2 p-0 m-0">
                <div class="row p-0 m-0 menu-item">                    
                    <button class="btn-no-border menu-item p-0 m-0">
                        <div class="flex">
                            <div>
                                <img src="../static/images/contactwhite.png "  class="icon"/>
                            </div>
                            <div style="margin-left: 10px;" class="white-button">CONTACTS</div>
                        </div>
                    </button>
                    
                </div>    
            </div>
            <div class="col-sm-2" ></div>

            
            <div class="col-sm-2 p-0">
                <div class="row m-0 p-0" style="height: 100%;">
                    <div class="col-sm-4 p-0 m-0">
                        <div class="row p-0 m-0 menu-item">
                            <div class="dropdown m-0 p-0">
                                <button class="btn-no-border menu-item white-button m-0 p-0" id="user-button"> 
                                    <img src="../static/images/userwhite.png " class="png"/>
                                    <div class="btn dropdown-toggle p-0 white-button" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    </div>
                                </button>
                                <ul class="dropdown-menu m-0 p-0" aria-labelledby="user-button">
                                    <li><a class="dropdown-item" href="#">Log In</a></li>
                                    <li><a class="dropdown-item" href="#">Register</a></li>
                                    <li><a class="dropdown-item" href="#">Log Out</a></li>
                                </ul>
                            </div>
     
                        </div>    
                    </div>
                    <div class="col-sm-4 p-0 m-0">
                        <div class="row p-0 menu-item">
                            <button class="btn-no-border">
                                <img src="../static/images/cartwhite.png" class="icon"/>
                            </button>
                        </div>    
                    </div> 
                </div>
               
            </div>
            
            
        </div>
    </div>