<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
                <div class="row justify-content-center">
                    <div class="col-md">
                        <form class="card margin-form full-width">
                            <header class="text-center card-header">
                                <h2>Log in to Fast Food</h2>
                            </header>
                            <section class="card-body">
                                <div class="form-group">
                                    <label></label>
                                    <div class="input-group">
                                        <span class="input-group-text">
                                            <i class="fas fa-user"></i>
                                        </span>
                                        <input type="text" class="form-control" placeholder="Email address or phone number" required name="">
                                    </div>
                                    
                                    <label></label>
                                    <div class="input-group">
                                        <span class="input-group-text">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                        <input class="form-control" id="password" name="password" placeholder="Password" value="">
                                        <span class="input-group-text">
                                            <i class="far fa-eye" id="togglePassword" style="cursor: pointer"></i>
                                        </span>
                                    </div>
                                
                                    <div class="row  mt-1 mb-3">
                                        <a href="" style="text-align: right;">Forgotten password</a>
                                    </div>         
                                </div>
                            </section>
    
                            <footer class="text-center card-footer">
                                <div class="row ">
                                    <div class="col-md1 ">
                                        <button class="btn btn-secondary" type="submit">Back</button>
                                        <button class="btn btn-primary" type="submit">Log in</button>
                                    </div>
                                    <div class="text-center mt-1">
                                        <a href="">Sign up for Fast Food</a>
                                    </div>
    
                                </div>
                                
                            </footer>
                        </form>
                    </div>
            </div>
        </div>
      </div>
    </div>
</div>