{% extends "index.html" %}
{% block title %} Login {% endblock %}
{% block content %}

<div class="row justify-content-center">
    <div class="col-md-4">
        <form class="card margin-form full-size" id="loginForm" action="/login" method="POST">
            <header class="text-center card-header">
                <h2>Log in to Fast Food</h2>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="notification alert-danger">
                            {{ messages[0] }}
                        </div>
                    {% endif %}
                {% endwith %}
            </header>
            <section class="card-body">
                <div class="form-group">
                    <label></label>
                    <div class="input-group">
                        <div class="col-sm-1 m-0 p-0">
                            <span class="icon-see-password-wrapper">
                                <i class="fas fa-user"></i>
                            </span>
                        </div>
                        <div class="col-sm-11 m-0 p-0">
                            <input type="text" class="form-control" placeholder="Email address or phone number" required name="user" id="user">
                        </div>
                    </div>

                    <label></label>
                    <div class="input-group">
                        <div class="col-sm-1 m-0 p-0">
                            <span class="icon-see-password-wrapper">
                                <i class="fas fa-lock"></i>
                            </span>
                        </div>
                        <div class="col-sm-10 m-0 p-0">
                            <input class="form-control" id="loginpassword" name="loginpassword" placeholder="Password"  type='password' required value="">
                        </div>
                        <div class="col-sm-1 m-0 p-0">
                            <span class="icon-see-password-wrapper">
                                <i class="far fa-eye" id="togglePassword" style="cursor: pointer"></i>
                            </span>
                        </div>
                    </div>

                    <div class="row  mt-1 mb-3">
                        <a href="" style="text-align: right;">Forgotten password</a>
                    </div>
                </div>
            </section>

            <footer class="text-center card-footer">
                <div class="row ">
                    <div class="col-md1 ">
                        <button class="btn btn-secondary" type="submit">Back</button>
                        <button class="btn btn-primary" type="submit">Log in</button>
                    </div>
                    <div class="text-center mt-1">
                        <a href="{{url_for('auth.signup')}}">Sign up for Fast Food</a>
                    </div>
                </div>
            </footer>
        </form>
    </div>
</div>

{% endblock %}