{% extends "index.html" %}
{% block title %} {{catagory | capitalize}} Menu{% endblock %}
{% block content %}
    <div id="menu-panel" class="container pt-5 pb-5">
        <div class="row">
            <!--Catagories navigation bars-->
            <div class="col-md-2" id="catagory-tab" >
                {% set catagory_tab = [
                        ( url_for('.display_menu', catagory='all'), "all", "All"),
                        ( url_for('.display_menu', catagory='burger'), "burger", "Burger"),
                        ( url_for('.display_menu', catagory='chicken'), "chicken", "Chicken"),
                        ( url_for('.display_menu', catagory='rice'), "rice", "Rice"),
                        ( url_for('.display_menu', catagory='drinks'), "drinks", "Drinks")
                ] %}
                <ul class="nav flex-column">
                    {% for href,id,caption in catagory_tab%}
                    <li class="nav-item {% if catagory == id %} active {% endif %}">
                        <a class="nav-link" href=" {{href | safe}}"> {{ caption|e }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <!--Menu content-->
            <div class="col" id="menu-content">
                <h2 class="catagory-name">{{catagory | upper}}</h2>
                    {% for food in menu%}
                        <div class="col">
                            <div class="card">
                                <div class="card-img-top">
                                    <img src="{{ food.thumbnail }}" class="card-img-top image-thumbnail" alt="...">    
                                </div>
                                <div class="card-body">
                                    <!-- <p> {{food.thumbnail}}</p> -->
                                    <p class="card-text">{{ food.name }}</p>
                                    <h5 class="card-title">{{ food.price }}vnd</h5>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                    <!-- <a class="btn" href="menu/?id={{food.id}}">Details</a> -->
                                    <a class="btn" href="{{url_for('details.details')}}?id={{food.id}}&type={{food.type}}" id="detailpage">Details</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                <!-- </div> -->
            </div>
        </div>
    </div>
    















    <!-- Bootstrap v5.1 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <!-- JS Custom -->
    <script src="../static/js/index.js"></script>
    <!-- <script>

        let btns = document.getElementsByClassName("btn");
        for (let i=0; i<btns.length; ++i){
            btns[i].addEventListener("mouseover", function() {
                btns[i].style.display = "block";
            })
            btns[i].addEventListener("mouseout", function() {
                btns[i].style.display = "none";
            })
        }
    </script> -->
{% endblock %}